@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Black.woff2') format('woff2');
  font-display: swap;
}

/* италик версии */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-ThinItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-ExtraLightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-LightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-ExtraBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-BlackItalic.woff2') format('woff2');
  font-display: swap;
}
